<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="answer">

	<insert id="insert"  parameterType="qaanswerDto">
		INSERT INTO QA_answer (answerNum,answerWriter,answerContent,answerRef_num,regdate) 
		VALUES(QAnswer_seq.NEXTVAL, #{answerWriter}, #{answerContent}, #{answerRef_num}, SYSDATE)
	</insert>
	
	
	<select id="getList" resultType="qaanswerDto">
		SELECT * FROM QA_answer
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM QA_answer WHERE answerNum=#{answerNum}
	</delete>
	
	<update id="update" parameterType="test.gura.computer.qna.dto.QAAnswerDto" >
		UPDATE QA_answer SET 
		answerContent = #{answerContent}
		WHERE answerRef_num = #{answerRef_num}
	</update>
</mapper>